
body.single-pane {
  background: #f6f6f6;
}

.content-right-bordered {
  border-right: 1px solid #efefef;
  padding-right: 20px;
}

.top-container {
  margin-top: 30px !important;
}

.last-container {
  margin-bottom: 40px !important;
}


.al-l { text-align: left; }
.al-c { text-align: center; }
.al-r { text-align: right;  }

.page-title-h4 {
  margin-bottom: 10px;
}

.admin-control-groups {
  background: #efefef;
  padding: 10px 0;
  margin-bottom: 10px;
}
